.wrap_img {
  width: 270px;
  height: 190px;
  border-radius: 15px;

  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_dog {
  display: block;
  width: 100%;
  border-radius: 15px;
  padding: auto;
}
.wrapper {
  text-decoration: none;
  padding: 6px;
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 390px;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #958cfe;
  border-radius: 15px;
}

.tempSpan {
  text-decoration: none;
  background-color: #6284eab2;
  border-radius: 15px;
  color: #fff;
  padding: 8px;
  margin-left: 10px;
  font-weight: 500;
}
.divTemp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link,
.link:hover {
  color: #fff;
  text-decoration: none;
}

.link {
  transition: transform 0.2s;
}

.link:hover {
  transform: scale(1.01);
}
