.src_btn {
  fill: #6284ea;
  stroke-width: 6px;
  stroke: rgba(53, 78, 210, 0.63);
  background-color: transparent;
  margin-top: 10px;
  position: fixed;
  right: 110px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.input_src {
  margin-top: 17px;

  height: 40px;
  position: fixed;
  right: 160px;
}
