:root {
  text-decoration: none;
  text-align: center;
}

body {
  margin: 0;
  color-scheme: dark light;
  background-color: rgb(19, 18, 18);
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    117deg,
    #6f83ef 0%,
    rgba(104, 150, 239, 0.45) 55.04%,
    rgba(106, 45, 168, 0.63) 100.65%,
    rgba(153, 84, 222, 0.63) 100.65%
  );
  background-attachment: fixed;
}

button,
input,
select,
option {
  font-family: inherit;
  display: flex;
  justify-content: center;
  border: none;
  padding: 10px;
  border-radius: 18px;
  background: #6284ea;
  color: #fff;
  cursor: pointer;
}

input::placeholder {
  color: #fff;
}

link,
link:visited {
  text-decoration: none;
}

input:focus,
select:focus {
  border: 1px transparent;
  outline: none;
}

select:hover,
button:hover {
  opacity: 80%;
}
option:hover,
option:focus {
  background-color: #958cfe;
}
